<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>there are no more four seasons - {{ title }}</title>
    <script src="{{ "/assets/js/navbar.js" | url }}"></script>
    <script src="{{ "/assets/js/modal.js" | url }}"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>
    <header>{% include "header.njk" %}</header>
    <main>
        {{ content | safe }}
    </main>


    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>© There are no more four seasons if not other specified.</strong>
            </p>
        </div>
    </footer>
</body>
</html>