<header>

    <div style="background-image: url(/assets/img/white.jpg)" class="header-image">
        <h1>
            <a href="/">there are no more four seasons</a>
        </h1>
    </div>

    {% include "nav.njk" %}
</header>
