---
layout: "base.njk"
---

<article class="page-layout">
    <div class="container">
        <div class="content mt-5">
            <h1>{{ title }}</h1>

            {% for img in collections.images %}
                {% set image = img.data.image %}
                {% set title = img.data.title %}
                {% set byline = img.data.byline %}
                {% set idx = loop.index0 %}

                {% if loop.index0 % 4 == 0 %}
                    <div class="columns">
                {% endif %}
                <div class="column is-3">
                    {% include "components/card.njk" %}
                </div>
                {% if loop.index0 % 4 == 3 %}
                    </div>
                {% endif %}

                {% if image.modal %}
                    {% include 'components/modal.njk' %}
                {% endif %}

            {% endfor %}
        </div>
    </div>
</article>