---
layout: "base.njk"
---

<article class="page-layout">
  <div class="container">
    <div class="columns">
      <div class="column is-8 main-column">
        <div class="content mt-5">
          <h1>{{ title }}</h1>
          {% if image %}
            {% include "components/img.njk" %}
          {% endif %}

          {{ content | safe }}
        </div>
      </div>
      <div class="column is-1 gap-column">
      </div>
      <div class="column is-3 side-column">
        <div class="content mt-5">
            {% include 'components/posts.njk' %}
            {% include 'components/reviews.njk' %}
        </div>
      </div>

    </div>
  </div>
</article>