---
layout: "base.njk"
---

<article class="page-layout">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="content mt-5">
          <h1>{{ title }}</h1>

          {% if youtube %}
            {% include "components/youtube.njk" %}
          {% endif %}

          {{ content | safe }}
        </div>
      </div>
    </div>
  </div>
</article>