<div class="card">
    <div class="card-image">
        <figure class="image">
            {% include 'components/img.njk' %}
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">{{ title }}</p>
                <p class="subtitle is-6">{{ byline }}</p>
            </div>
        </div>

        <div class="content">
            {{ img.data.content | safe }}
        </div>
    </div>
</div>
