{% if image.modal %}
    <img src="{{ image.src }}" alt="{{ image.alt }}" class="js-modal-trigger" data-target="modal-js-{{ idx }}">
{% else %}
    {% if image.box %}
        <div class="box">
            <img src="{{ image.src }}" alt="{{ image.alt }}">
        </div>
    {% else %}
        <img src="{{ image.src }}" alt="{{ image.alt }}">
    {% endif %}
    {% if image.cred %}
        <div class="image-cred">
            <small>{{ image.cred }}</small>
        </div>
    {% endif %}

{% endif %}