<div  id="modal-js-{{ idx }}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-fullwidth">
      <img src="{{ image.src }}" alt="{{ image.src }}">
    </p>
    <div><a href="{{ image.src }}" download target="_blank">Download image</a></div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>