  {% if collections.posts %}
    <h3>News</h3>
    {% for post in collections.posts | reverse %}
      <div class="box">
        <h4>{{ post.data.title }}</h4>
        <p>{{ post.data.date | htmlDateString }}</p>
        <p>{{ post.data.excerpt }}</p>
        <strong><a href="{{ post.url | url }}">Read more</a></strong>
      </div>
    {% endfor %}
  {% endif %}
