  {% if collections.reviews %}
    <h3>Reviews</h3>
    {% for review in collections.reviews %}
      <div class="box">
        "{{ review.data.excerpt }}"<br />
        <strong>{{ review.data.author }}</strong> ({{ review.data.publisher }})
      </div>
    {% endfor %}
  {% endif %}
