<div class="video-wrapper">
    <iframe
        class="video"
        src="https://www.youtube-nocookie.com/embed/{{ youtube }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>