/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
  url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''),
  url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
  url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

/* fjalla-one-regular - latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
}

