@charset "utf-8";

//$family-sans-serif: "Fjalla";
$pink: rgba(219, 39, 119, 1);
$pink-light: rgba(249, 168, 212, 1);
$blue-gray: rgba(75, 85, 99, 1);
$bg-pink-op: rgba(249, 168, 212, 0.2);
$dark-gray: #333;
$white: #fff;

$link: $dark-gray;
$primary: $pink;


@import "../../node_modules/bulma/bulma.sass";
@import "./fonts.scss";

$navbar-item-color: $text;

$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: $scheme-main-bis;

$navbar-item-active-color: $navbar-item-hover-color;
$navbar-item-active-background-color: $navbar-item-hover-background-color;

h1, h2, h3, h4, h5, h6 {
  font-family: "Fjalla One", sans-serif;
}

body {
  font-family: Roboto, sans-serif;
  color: $dark-gray;
  background-color: $white;
}

.content blockquote {
  background-color: $bg-pink-op;
  border-left: 5px solid $pink;
}

.header-image {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  height: 10rem;

  @include from(768px) {
    height: 20rem;
  }
  @include from(1024px) {
    height: 24rem;
  }

  h1 {
    background-color: $bg-pink-op;
    padding: 0.75rem;
    margin: -50px auto 0;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    @include from(768px) {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    @include from(1024px) {
      font-size: 3rem;
      line-height: 1;
    }
    @include from(1280px) {
      font-size: 3.75rem;
      line-height: 1;
    }

    a {
      color: $pink;
      text-decoration: none;
    }
  }

}


.cover-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.navbar {
  background: $primary;
  opacity: 0.8;
  margin-top: -56px;
  border-top: 4px solid $bg-pink-op;
  a {
    color: $white;
  }

  .navbar-menu {
    &.is-active {
      background: $black;
    }
  }
}


article.page-layout {
  padding: 0.5rem 2rem;
}


.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a.navbar-item.is-active:not(:focus):not(:hover),
.navbar-link.is-active:not(:focus):not(:hover) {
  background: $white;
}

.image-cred {
  margin-bottom: 20px;
}

.content {
  a {
    text-decoration: underline;
    color: $primary;
  }
}